﻿.bg-dark {
	background-color: #375a7f !important;
}

	.bg-dark.card-header {
		background-color: #375a7f !important;
	}

.btn.btn-primary {
	border-color: #375a7f;
	background-color: #375a7f !important;
}

.btn.btn-success {
	border-color: #00bc8c;
	background-color: #00bc8c !important;
}

.card-header.card-header-dark {
	color: white;
}

.card-deck .card-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.col-form-label {
	text-align: right;
}

.container {
	padding-top: 15px;
}

div.blockquote pre.prettyprint {
	font-size: 1rem;
}

.dl-horizontal dt {
	text-align: right;
}

.jumbotron {
	border-radius: 0;
}

.navbar.navbar-static-top {
	/*box-shadow: 0 2px 25px rgba(0, 0, 0, 0.26);*/
}

/* override the default setting for popovers*/
.popover {
	display: block;
}

pre.prettyprint {
	border: none;
}

.select2-container {
	font-size: 16px;
}


.select2-container--default .select2-selection--single {
	border: 1px solid rgba(0, 0, 0, 0.15);
	height: auto;
}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 1.25;
		padding: 0.5rem 0.75rem;
		font-size: 1rem;
		color: #55595c;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 35px;
	}

.shadow-dep-1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-dep-hover-1:hover {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-dep-2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-dep-hover-2:hover {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-dep-3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-dep-hover-3:hover {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-dep-4 {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-dep-hover-4:hover {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-dep-5 {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.shadow-dep-hover-5:hover {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.table .sort-link {
	color: #373a3c;
}

	.table .sort-link:hover {
		text-decoration: underline;
	}
/* Language Settings */
span:lang(ja), h1:lang(ja), h2:lang(ja), h3:lang(ja), h4:lang(ja), h5:lang(ja), h6:lang(ja), p:lang(ja) {
	font-family: Meiryo;
}

.table > thead > tr > th, .table > tbody > tr > th.limited,
.table > tfoot > tr > th, .table > thead > tr > td.limited,
.table > tbody > tr > td, .table > tfoot > tr > td.limited {
	max-width: 200px;
}

/* Font Sizes */

.webfont-links i {
	font-size: xx-large !important;
	color: #222222;
}

	.webfont-links i:hover {
		color: #666666;
	}

.webfont-links a {
	text-decoration: none;
}


.webfont-login i {
	font-size: larger;
}

@media screen and (max-width: 1000px) {
	/* styles for small screens */
}


@media screen and (max-width: 650px) {
	/* styles for very small screens */
}


@media (min-width: 576px) {
	.navbar {
		border-radius: 0;
	}
}
