﻿<div id="sig-container" style="margin-top: 15px; padding-top: 6px;">
	<hr style="margin-top: 15px; padding-top: 6px;  border: 0; border-top: 1px dashed #ddd;" />
	<div style="float: left; margin: 2px 5px 5px 0; padding-right: 5px; display: block;" id="photoWrapper">
		<a href="http://www.omnilogic.net" rel="nofollow">
			<img src="http://www.omnilogic.net/wp-content/themes/omnilogic/images/logo.png" style="width:107px; height:65px" id="sigLogo" />
		</a>
	</div>
	<div style="float: left; margin: 2px 5px 5px 0; padding-right: 5px; display: block; clear:left" id="photoWrapper">
		<a href="http://www.omnionline.net" rel="nofollow">
			<img src="https://omnionline.net/wp-content/themes/omnionline/images/logo-interior.png" style="width:107px; height:65px" id="sigLogo" />
		</a>
	</div>
	<div style="margin-top:0; margin-left: 116px;" id="sigDetailsWrapper">
		<p style="font-family: Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #333; margin-top:0; margin-left:0; padding-left:0;">
			<strong><span id="sigName">Alexander Boutin Flegel</span></strong>
			<span id="sigTitle">/ Full Stack Developer</span>
			<br>
			<span><a href="mailto:alexander.flegel@omnilogic.net" id="sigEmail" style="color:#428BCA;">alexander.flegel@omnilogic.net</a></span>
			<span id="sigOffice"> / (306) 586-6116 (office)</span>
			<span id="sigMobile"> / (306) 570-4353 (cell)</span>
		</p>
		<p style="font-family: Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #333; margin-top: 0;" id="sigCompanyWrapper">
			<strong><span id="sigCompany">Omnilogic Systems</span></strong>
			<span>/ <a href="http://www.omnilogic.net" id="sigWebsite" style="color:#428BCA;" rel="nofollow">www.omnilogic.net</a></span>
			<br>
			<span id="sigAddress" style="font-size: 12px; line-height: 14px; margin: 5px 0; display:block; opacity:0.8;">Business technology consulting. Custom mobile, web, and cloud applications.</span>
		</p>
		<p style="font-family: Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #333;">
			<span id="twitterIcon" style="display: inline;">
				<a href="https://twitter.com/omnilogicsystem">
					<img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/twitter_circle_color-20.png" style="width:20px; height:20px" />
				</a>
			</span>
			<span id="facebookIcon" style="display: none;"><a href="#"><img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/facebook_circle_color-20.png" style="width:20px; height:20px" /></a></span>
			<span id="gplusIcon" style="display: none;"><a href="#"><img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/google_circle_color-20.png" style="width:20px; height:20px" /></a></span>
			<span id="linkedinIcon" style="display: inline;">
				<a href="https://www.linkedin.com/in/alexanderboutinflegel">
					<img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/linkedin_circle_color-20.png" style="width:20px; height:20px" />
				</a>
			</span>
			<span id="instagramIcon" style="display: none;"><a href="#"><img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/instagram_circle_color-20.png" style="width:20px; height:20px" /></a></span>
			<span id="dribbleIcon" style="display: none;"><a href="#"><img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/dribbble_circle_color-20.png" style="width:20px; height:20px" /></a></span>
			<span id="youtubeIcon" style="display: none;"><a href="#"><img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/youtube_circle_color-20.png" style="width:20px; height:20px" /></a></span>
			<span id="vimeoIcon" style="display: none;"><a href="#"><img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/vimeo_circle_color-20.png" style="width:20px; height:20px" /></a></span>
			<span id="githubIcon" style="display: none;"><a href="#"><img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/github_circle_black-20.png" style="width:20px; height:20px" /></a></span>
			<span id="blogIcon" style="display: inline;">
				<a href="http://www.omnilogic.net/our-blog/">
					<img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/wordpress_circle_color-20.png" style="width:20px; height:20px" />
				</a>
			</span>
		</p>
		<p style="font-family: Helvetica, sans-serif; font-size: 9px; line-height: 14px; color: #333;">
			OmniOnline has assumed your implied consent to receiving electronic messages, based on our business relationship. <br />
			We would appreciate your express consent as well. <br />
			To advise us on your preferences - <a style="color:#428BCA;" href="http://omnionline.net/electronic-communications-compliance/">click here</a>
		</p>
	</div>
</div>
