﻿@model BoutinFlegel.Areas.Blog.Models.PostViewModel

@{
	ViewBag.Title = "Create";

}

<h2>Create</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>@Html.DisplayNameForModel()</h4>
		<hr />
		@Html.ValidationSummary(true, "", htmlAttributes: new { @class = "text-danger" })
		<div class="form-group row">
			@Html.LabelFor(model => model.Post.Title, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Post.Title, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Post.Title, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Post.FeaturedText, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-10">
				@Html.TextAreaFor(model => model.Post.FeaturedText, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Post.FeaturedText, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Post.MainContent, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-10">
				@Html.TextAreaFor(model => model.Post.MainContent, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Post.MainContent, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Post.StatusId, "StatusId", htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.Post.StatusId, Model.Statuses, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Post.StatusId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Post.Posted, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Post.Posted, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Post.Posted, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Post.CategoryId, "CategoryId", htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.Post.CategoryId, Model.Categories, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Post.CategoryId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-secondary" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section FooterScripts {
	@Scripts.Render("~/bundles/jqueryval-bundle")
	@Scripts.Render("~/bundles/tinymce-bundle");

	<script type="text/javascript">
		$(document).ready(function () {
			BoutinFlegel.LaunchTinyMCE();
		});
	</script>
}
