﻿@model BoutinFlegel.Areas.Blog.Models.PostViewModel

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>@Html.DisplayNameForModel()</h4>
	<hr />
	<dl class="dl-horizontal row">
		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Post.Title)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Post.Title)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Post.FeaturedText)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Post.FeaturedText)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Post.MainContent)
		</dt>

		<dd class="col-md-6">
			@Html.Raw(HttpUtility.HtmlDecode(Model.Post.MainContent))
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Post.Posted)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Post.Posted)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Post.Modified)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Post.Modified)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Post.CategoryId)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Post.CategoryId)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Post.StatusId)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Post.StatusId)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Post.PostId }) |
	@Html.ActionLink("Back to List", "Index")
</p>

