﻿@using BoutinFlegel.Areas.Blog.Models;
@using PagedList.Mvc;
@model PostIndexViewModel

@{
	ViewBag.Title = "Posts";
}

<h2>Posts</h2>

<div id="searchFields" class="row">

	@using (Html.BeginForm("Index", "Posts", FormMethod.Get, htmlAttributes: new { id = "searchForm" }))
	{
		<div class="form-inline mt-1 mb-2">
			<div class="btn-toolbar">
				@if (User.IsInRole(nameof(BoutinFlegel.Roles.BlogAdmin)))
				{
					<div class="btn-group btn-group-sm mr-2">
						@Html.ActionLink("Create New", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-sm btn-success" })
						@Html.ActionLink("Create New Image", "Create", "FeaturedImages", routeValues: null, htmlAttributes: new { @class = "btn btn-sm btn-success" })
					</div>
				}
				<div class="input-group btn-group btn-group-sm mr-2">
					@Html.TextBox("TitleFilter", Model.PostSearchModel.TitleFilter, htmlAttributes: new { @class = "form-control form-control-sm", placeholder = "Search" })
					<button id="searchButton" type="submit" value="Submit" class="btn btn-primary btn-sm"><i class="mdi mdi-magnify"></i></button>
				</div>
			</div>
		</div>

	}
</div>
<hr />
<div class="row">
	<div class="card-columns">
		@foreach (var item in Model.Posts)
			{
			<div class="card shadow-dep-1">
				<div class="card-header card-header-dark bg-dark">
					<h4 class="card-title">@Html.DisplayFor(model => item.Title)</h4>
				</div>
				<div class="card-body">
					<div>
						@Html.Raw(HttpUtility.HtmlDecode(item.FeaturedText))
					</div>
					@Html.ActionLink("Read more »", "ViewDetails", routeValues: new { id = item.PostId }, htmlAttributes: new { @class = "btn btn-secondary shadow-dep-hover-1" })
					@if (User.IsInRole(nameof(BoutinFlegel.Roles.BlogAdmin)))
					{
						<div>
							@Html.ActionLink("Edit", "Edit", new { id = item.PostId }, htmlAttributes: new { @class = "btn btn-secondary " }) |
							@Html.ActionLink("Details", "Details", new { id = item.PostId }) |
							@Html.ActionLink("Delete", "Delete", new { id = item.PostId })
						</div>
					}
				</div>
				<div class="card-footer">
					<p class="card-text"><small class="text-muted">Posted on: @Html.DisplayFor(model => item.Posted)</small></p>
				</div>
			</div>
			}
	</div>
</div>
@if (Model.Posts.PageCount > 1)
{
	<nav aria-label="Page navigation">
		Page @(Model.Posts.PageCount < Model.Posts.PageNumber ? 0 : Model.Posts.PageNumber) of @Model.Posts.PageCount

		@Html.PagedListPager(Model.Posts, page => Url.Action("Index",
			  routeValues: Model.PostSearchModel.RouteValues.Extend(new RouteValueDictionary(new { page, sortOrder = ViewBag.CurrentSort }))
			  ))
	</nav>
}

@section FooterScripts {
	<script language="javascript" type="text/javascript">
		$('#clearButton').click(function (event) {
			$('#searchForm').find(':input').each(function () {
				if (this.type != "button" && this.type != "submit")
					this.value = "";
			});
		});

		$('#searchForm').submit(function (event) {
			$('#searchForm').find(':input').each(function () {
				if (this.value == "")
					this.disabled = true;
			});
		});
	</script>
}