﻿@model BoutinFlegel.Areas.Blog.Models.PostViewModel
<div class="card shadow-dep-1">
	<div class="card-header card-header-dark bg-dark">
		<h4 class="card-title"> Most Recent Post</h4>
	</div>
	<div class="card-body">
		<h6 class="card-subtitle mb-2">
			@Html.DisplayFor(model => model.Post.Title)
		</h6>

		<div>
			@Html.Raw(HttpUtility.HtmlDecode(Model.Post.FeaturedText))
		</div>
		@Html.ActionLink("Read more »", "ViewDetails", routeValues: new { id = Model.Post.PostId }, htmlAttributes: new { @class = "btn btn-secondary shadow-dep-hover-1" })
	</div>
	<div class="card-footer">
		<p class="card-text"><small class="text-muted">Posted on: @Html.DisplayFor(model => model.Post.Posted)</small></p>
	</div>
</div>
