﻿@using HeyRed.MarkdownSharp;
@model BoutinFlegel.Areas.Blog.Models.PostViewModel

@{
	ViewBag.Title = "Blog";
}

<div>
	<h1>@Html.DisplayFor(model => model.Post.Title)</h1>
	<hr />
	@if (Model.Post.FeaturedText != null && Model.Post.FeaturedText.Trim().Length > 0)
	{
		<div class="jumbotron">
			@Html.Raw(HttpUtility.HtmlDecode(Model.Post.FeaturedText))
		</div>
	}
	@{
		var mark = new Markdown();
		<div>
			@Html.Raw(mark.Transform(Model.Post.MainContent))
		</div>
	}

	<p class="fine-print">
		Posted on: @Html.DisplayFor(model => model.Post.Posted)&ensp;&ensp;|&ensp;&ensp;Category: @Html.DisplayTextFor(model => model.Post.CategoryId)
	</p>

	<dl class="dl-horizontal row"></dl>
</div>
@if (User.IsInRole(nameof(BoutinFlegel.Roles.BlogAdmin)))
{
	<p>
		@Html.ActionLink("Edit", "Edit", new { id = Model.Post.PostId }) |
		@Html.ActionLink("Back to List", "Index")
	</p>
}

@section FooterScripts {
	@Scripts.Render("~/bundles/editing-bundle")
}