﻿@model BoutinFlegel.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
	var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
	if (loginProviders.Count() != 0)
	{
		using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl },  FormMethod.Post, htmlAttributes: new { @class = "form-inline float-xs-right" }))
		{
			@Html.AntiForgeryToken()
					foreach (AuthenticationDescription p in loginProviders)
					{
				<li class="nav-item">
					<a id="a-@p.AuthenticationType" class="webfont-login nav-link" href="#"><i class="mdi mdi-google"></i></a>

					<script type="text/javascript" language="text/javascript">
						$('#a-@p.AuthenticationType').click(function () {
							$('#@p.AuthenticationType').click();
						})
					</script>
					<button type="submit" class="d-none" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
				</li>
			}


		}
	}
}
