﻿@model BoutinFlegel.Models.ExternalLoginConfirmationViewModel
@{
	ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
<h3>Associate your @ViewBag.LoginProvider account.</h3>

<p class="text-info">
	You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
	Thanks, I guess, but registration is currently not open.

</p>

@section FooterScripts {
	@Scripts.Render("~/bundles/jqueryval-bundle")
}
