﻿@model BoutinFlegel.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", htmlAttributes: new { @class = "text-danger" })
    <div class="form-group row">
        @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-secondary" value="Email Link" />
        </div>
    </div>
}

@section FooterScripts {
    @Scripts.Render("~/bundles/jqueryval-bundle")
}
