﻿@using BoutinFlegel.Models
@model LoginViewModel
@{
	ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title</h2>
<div class="row">
	<p>
		Use the login button on the main title bar.
	</p>
</div>

@section FooterScripts {
	@Scripts.Render("~/bundles/jqueryval-bundle")
}