﻿<h2>Next Destination</h2>
<p>Next stop is Japan.  Hopefully Kobe in the Hyogo Prefecture.</p>
<p lang="ja">兵庫県の神戸市</p>
<p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Kobe">Learn more &raquo;</a></p>
