﻿@{
	ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Business Contact Information</h3>

<address>
	<strong><a href="https://www.omnilogic.net/">Omnilogic Systems</a></strong><br />
	1420 Broad Street<br />
	Regina, Saskatchewan, Canada<br />
	S4R 1Y9<br />
	<abbr title="Phone">P:</abbr>(306)586-6116<br />
	<a href="mailto:contact@omnilogic.net">contact@omnilogic.net</a>
</address>
<address>
	<strong><a href="https://omnionline.net/">OmniOnline</a></strong><br />
	1420 Broad Street<br />
	Regina, Saskatchewan, Canada<br />
	S4R 1Y9<br />
	<abbr title="Phone">P:</abbr>(306)586-6118<br />
	<a href="mailto:contact@omnilogic.net">contact@omnilogic.net</a>
</address>
<address>
	<strong>Personal Business:</strong> <a href="mailto:alexander.flegel@omnilogic.net">alexander.flegel@omnilogic.net</a>
</address>


<h4>Social Links</h4>
<div class="webfont-links">
	<a href="https://ca.linkedin.com/in/alex-boutin-flegel-9bb8334b" target="_blank">
		<i class="mdi mdi-linkedin-box"></i>
	</a>
	<a href="https://github.com/aflegel" target="_blank">
		<i class="mdi mdi-github-box"></i>
	</a>
	<a class="hidden" href="https://www.facebook.com/alex.g.flegel" target="_blank">
		<i class="mdi mdi-facebook-box"></i>
	</a>
	<a href="https://bitbucket.org/aflegel/" target="_blank">
		<i class="mdi mdi-bitbucket"></i>
	</a>
	<a href="https://plus.google.com/u/0/114777338858382660688" target="_blank">
		<i class="mdi mdi-google-plus-box"></i>
	</a>
</div>