﻿@{
	ViewBag.Title = "Home";
}
@section JumbotronFluid{
	<div class="jumbotron shadow-dep-1">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>Boutin Flegel</h1>
					@*<h1 lang="ja">ブタン フレグル</h1>*@
					<p class="lead">Welcome to my overgrown side project.</p>
				</div>
				<div class="col-lg-4">
					<img src="~/Content/images/Header.svg" alt="There really should be a logo here." class="img-fluid">
				</div>
			</div>
		</div>
	</div>
}

<div class="card-deck-wrapper">
	<div class="card-deck">
		@Html.Action("Recent", "Posts", new { Area = "Blog" })
		@Html.Action("Recent", "FeaturedImages", new { Area = "Blog" })
		<div class="card shadow-dep-1">
			<div class="card-header card-header-dark bg-dark">
				<h4 class="card-title">About this project</h4>
			</div>
			<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted">(and me)</h6>
				<p class="card-text">This whole shindig started out as a small access database.  Since then it has gone through more than one new platform and database overhaul to get where it is now.</p>
				<p class="card-text">I've learned quite a bit now of how to not do things, some lessons were harder than others.  Thankfully my experience seems to have caught up with my eagerness to write new code and reach new goals.</p>
			</div>
		</div>
	</div>
</div>
