﻿@{
	ViewBag.Title = "Alexander Botuin Flegel";
}


<h2>@ViewBag.Title.</h2>


<div>

	@foreach (var category in ViewBag.Resume)
	{
		<div>
			@if (((IDictionary<string, object>)category.Value).ContainsKey("Title"))
			{
				<span>@category.Value.Title</span>
			}

			@foreach (var item in category.Value)
			{
				<div>
					@if (item.Value.GetType() == typeof(System.Dynamic.ExpandoObject))
					{

						if (((IDictionary<string, object>)item.Value).ContainsKey("Title"))
						{
							<span> &raquo; @item.Value.Title &laquo; </span><br />
						}

						if (category.Key == "ComputerSkills")
						{
							foreach (var child in item.Value)
							{
								if (child.Value.GetType() == typeof(string) && child.Key != "Title")
								{
									<span> @child.Value </span><br />
								}
								if (child.Value.GetType() == typeof(string[]))
								{
									<span> @string.Join(", ", child.Value) </span>
								}
							}
						}
						else if (category.Key == "WorkExperience" || category.Key == "VolunteerExperience")
						{
							<span>@item.Value.JobTitle</span><br />
							<span>@string.Join(" - ", item.Value.Dates)</span>
							<span>@item.Value.Company</span><br />
							<span>@item.Value.Body</span>
						}
						else
						{

						}
					}
				</div>
			}
		</div>
			}
</div>
