﻿@using BoutinFlegel.Areas.Catalog.Models;
@model InventoryViewModel

@{
	ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>@Html.DisplayNameForModel()</h4>
	<hr />
	<dl class="dl-horizontal row">
		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.Denomination)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Inventory.Denomination)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.DenominationAlternate)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Inventory.DenominationAlternate)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.Year)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Inventory.Year)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.SpecialIssue)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Inventory.SpecialIssue)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.Description)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Inventory.Description)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.Localization)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Inventory.Localization)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.Collection.Name)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Inventory.Collection.Name)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.CurrencyDivision.NameSingular)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Inventory.CurrencyDivision.NameSingular)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.TypeId)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Inventory.TypeId)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(model => page.Page)

		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-secondary" /> |
			@Html.ActionLink("Back to List", "Index", Model.RouteValues(new RouteValueDictionary(new { page = Model.Page })))
		</div>
	}
</div>
