﻿@using BoutinFlegel.Areas.Catalog.Models;
@model InventoryViewModel

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>@Html.DisplayNameForModel()</h4>
	<hr />

	<dl class="dl-horizontal row">
		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.CurrencyDivision.Currency.CountryDivision.CountryId)
		</dt>

		<dd class="col-md-3">
			@Html.ActionLink(Model.Inventory.CurrencyDivision.Currency.CountryDivision.Country.Name, "Details", "Countries", new { id = Model.Inventory.CurrencyDivision.Currency.CountryDivision.CountryId }, null)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.CurrencyDivision.Currency.CountryDivisionId)
		</dt>

		<dd class="col-md-3">
			@Html.ActionLink(Model.Inventory.CurrencyDivision.Currency.CountryDivision.Name, "Details", "CountryDivisions", new { id = Model.Inventory.CurrencyDivision.Currency.CountryDivisionId }, null)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.CurrencyDivision.CurrencyId)
		</dt>

		<dd class="col-md-3">
			@Html.ActionLink(Model.Inventory.CurrencyDivision.Currency.Name, "Details", "Currencies", new { id = Model.Inventory.CurrencyDivision.CurrencyId }, null)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.CurrencyDivisionId)
		</dt>

		<dd class="col-md-3">
			@Html.ActionLink(Model.Inventory.CurrencyDivision.NameSingular, "Details", "CurrencyDivisions", new { id = Model.Inventory.CurrencyDivisionId }, null)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.Denomination)
		</dt>

		<dd class="col-md-3">
			@Html.DisplayFor(model => model.Inventory.Denomination)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.DenominationAlternate)
		</dt>

		<dd class="col-md-3">
			@Html.DisplayFor(model => model.Inventory.DenominationAlternate)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.Year)
		</dt>

		<dd class="col-md-9">
			@Html.DisplayFor(model => model.Inventory.Year)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.SpecialIssue)
		</dt>

		<dd class="col-md-9">
			@Html.DisplayFor(model => model.Inventory.SpecialIssue)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.Description)
		</dt>

		<dd class="col-md-9">
			@Html.DisplayFor(model => model.Inventory.Description)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.Localization)
		</dt>

		<dd class="col-md-9">
			@Html.DisplayFor(model => model.Inventory.Localization)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.Collection.Name)
		</dt>

		<dd class="col-md-9">
			@Html.DisplayFor(model => model.Inventory.Collection.Name)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Inventory.TypeId)
		</dt>

		<dd class="col-md-9">
			@Html.DisplayFor(model => model.Inventory.TypeId)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayShortNameFor(model => model.Inventory.InventoryLots) (@Html.DisplayFor(model => model.Inventory.InventoryLots.Count))
		</dt>

		<dd class="col-md-6">
			<table>
				<tr>
					<th> @Html.ActionLink("Create New", "Create", "InventoryLots", Model.RouteValues(new RouteValueDictionary(new { inventoryID = Model.Inventory.InventoryId, page = Model.Page })), null)</th>
				</tr>
				@foreach (InventoryLot lot in Model.Inventory.InventoryLots)
				{
					<tr>
						<td>@Html.ActionLink(lot.InventoryId + ", " + lot.Grade, "Details", "InventoryLots", new { id = lot.InventoryLotId }, null) </td>
					</tr>
				}
			</table>
		</dd>
	</dl>
</div>
<p>
	@Html.ActionLink("Create New", "Create", Model.RouteValues(new RouteValueDictionary(new { parentId = Model.Inventory.CurrencyDivisionId }))) |
	@Html.ActionLink("Edit", "Edit", Model.RouteValues(new RouteValueDictionary(new { id = Model.Inventory.InventoryId, page = Model.Page }))) |
	@Html.ActionLink("Back to List", "Index", Model.RouteValues(new RouteValueDictionary(new { page = Model.Page })))
</p>
