﻿@using BoutinFlegel.Areas.Catalog.Models;
@model InventoryViewModel

@{
	ViewBag.Title = "Edit Inventory";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div>
		<h4>@Html.DisplayNameForModel()</h4>
		<hr />
		@Html.ValidationSummary(true, "", htmlAttributes: new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Inventory.InventoryId)
		@Html.HiddenFor(model => model.Page)

		<div class="form-group row">
			@Html.LabelFor(model => model.Inventory.CurrencyDivision.Currency.CountryDivision.CountryId, htmlAttributes: new { @class = "col-md-3 col-form-label" })
			<div class="col-md-6">
				@Html.DropDownListFor(model => model.Inventory.CurrencyDivision.Currency.CountryDivision.CountryId, Model.Countries, "Please Select", htmlAttributes: new { @class = "form-control select2-jquery-hook" })
				@Html.ValidationMessageFor(model => model.Inventory.CurrencyDivision.Currency.CountryDivision.CountryId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Inventory.CurrencyDivision.Currency.CountryDivisionId, htmlAttributes: new { @class = "col-md-3 col-form-label" })
			<div class="col-md-6">
				@Html.DropDownListFor(model => model.Inventory.CurrencyDivision.Currency.CountryDivisionId, Model.CountryDivisions, "Please Select", htmlAttributes: new { @class = "form-control select2-jquery-hook" })
				@Html.ValidationMessageFor(model => model.Inventory.CurrencyDivision.Currency.CountryDivisionId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Inventory.CurrencyDivision.CurrencyId, htmlAttributes: new { @class = "col-md-3 col-form-label" })
			<div class="col-md-6">
				@Html.DropDownListFor(model => model.Inventory.CurrencyDivision.CurrencyId, Model.Currencies, "Please Select", htmlAttributes: new { @class = "form-control select2-jquery-hook" })
				@Html.ValidationMessageFor(model => model.Inventory.CurrencyDivision.CurrencyId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Inventory.CurrencyDivisionId, htmlAttributes: new { @class = "col-md-3 col-form-label" })
			<div class="col-md-6">
				@Html.DropDownListFor(model => model.Inventory.CurrencyDivisionId, Model.CurrencyDivisions, "Please Select", htmlAttributes: new { @class = "form-control select2-jquery-hook" })
				@Html.ValidationMessageFor(model => model.Inventory.CurrencyDivisionId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Inventory.Denomination, htmlAttributes: new { @class = "col-md-3 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.Inventory.Denomination, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Inventory.Denomination, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Inventory.DenominationAlternate, htmlAttributes: new { @class = "col-md-3 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.Inventory.DenominationAlternate, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Inventory.DenominationAlternate, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Inventory.Year, htmlAttributes: new { @class = "col-md-3 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.Inventory.Year, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Inventory.Year, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Inventory.SpecialIssue, htmlAttributes: new { @class = "col-md-3 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.Inventory.SpecialIssue, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Inventory.SpecialIssue, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Inventory.Description, htmlAttributes: new { @class = "col-md-3 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.Inventory.Description, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Inventory.Description, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Inventory.Localization, htmlAttributes: new { @class = "col-md-3 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.Inventory.Localization, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Inventory.Localization, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Inventory.CollectionId, "Collection", htmlAttributes: new { @class = "col-md-3 col-form-label" })
			<div class="col-md-6">
				@Html.DropDownListFor(model => model.Inventory.CollectionId, Model.Collections, "No Collection", htmlAttributes: new { @class = "form-control select2-jquery-hook" })
				@Html.ValidationMessageFor(model => model.Inventory.CollectionId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Inventory.TypeId, htmlAttributes: new { @class = "col-md-3 col-form-label" })
			<div class="col-md-6">
				@Html.DropDownListFor(model => model.Inventory.TypeId, Model.Mediums, htmlAttributes: new { @class = "form-control select2-jquery-hook" })
				@Html.ValidationMessageFor(model => model.Inventory.TypeId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-3 text-md-right">
				<input type="submit" value="Save" class="btn btn-secondary" />
			</div>
			<div class="col-md-3">
				@Html.ActionLink("Cancel", "Details",
					routeValues: Model.RouteValues(new RouteValueDictionary(new { page = Model.Page, id = Model.Inventory.InventoryId })),
					htmlAttributes: new Dictionary<string, object> { { "class", "btn btn-outline-warning" } })
				@Html.ActionLink("Back to List", "Index",
					routeValues: Model.RouteValues(new RouteValueDictionary(new { page = Model.Page })),
					htmlAttributes: new Dictionary<string, object> { { "class", "btn btn-outline-danger" } })
			</div>
		</div>
	</div>
}

@section FooterScripts {
	@Scripts.Render("~/bundles/jqueryval-bundle")

	<script language="javascript" type="text/javascript">
		//wait for the document to be fully rendered
		$(document).ready(function () {
			//connect the parent dropdowns to the auto refresh functions
			BoutinFlegel.AjaxSelectRefresh("#@Html.IdFor(model => model.Inventory.CurrencyDivision.Currency.CountryDivision.CountryId)", "#@Html.IdFor(model => model.Inventory.CurrencyDivision.Currency.CountryDivisionId)", "/CountryDivisions/Filter/");
			BoutinFlegel.AjaxSelectRefresh("#@Html.IdFor(model => model.Inventory.CurrencyDivision.Currency.CountryDivisionId)", "#@Html.IdFor(model => model.Inventory.CurrencyDivision.CurrencyId)", "/Currencies/Filter/");
			BoutinFlegel.AjaxSelectRefresh("#@Html.IdFor(model => model.Inventory.CurrencyDivision.CurrencyId)", "#@Html.IdFor(model => model.Inventory.CurrencyDivisionId)", "/CurrencyDivisions/Filter/");

			BoutinFlegel.LaunchSelect2();
		});
	</script>
}
