﻿@using BoutinFlegel.Areas.Catalog.Models;
@using PagedList.Mvc;
@model InventoryIndexViewModel

@{
	ViewBag.Title = "Inventories";
}

<h2>@ViewBag.Title</h2>

<div id="searchFields" class="row">

	@using (Html.BeginForm("Index", "Inventories", FormMethod.Get, htmlAttributes: new { id = "searchForm" }))
	{
		<div class="form-inline mt-1 mb-2">
			<div class="btn-toolbar">
				<div class="btn-group btn-group-sm mr-2">
					@Html.ActionLink("Create New", "Create", new { page = Model.Page }, new { @class = "btn btn-sm btn-success" })
				</div>
				<div class="input-group btn-group btn-group-sm mr-2">
					@Html.TextBox("RawString", Model.InventorySearchModel.RawString, htmlAttributes: new { @class = "form-control form-control-sm", placeholder = "Search" })
					<button id="searchButton" type="submit" value="Se" class="btn btn-primary btn-sm"><i class="mdi mdi-magnify"></i></button>
				</div>
			</div>
		</div>

	}
</div>

<div class="row">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>@Html.ActionLink("Country", "Index", routeValues: Model.RouteValues(new RouteValueDictionary(new { sortOrder = Model.CountrySort })), htmlAttributes: new Dictionary<string, object> { { "class", "sort-link" } })</th>
					<th class="limited hidden-sm-down">@Html.ActionLink("Collection", "Index", routeValues: Model.RouteValues(new RouteValueDictionary(new { sortOrder = Model.CollectionSort })), htmlAttributes: new Dictionary<string, object> { { "class", "sort-link" } })</th>
					<th>@Html.DisplayShortNameFor(model => model.Inventories.FirstOrDefault().Denomination)</th>
					<th colspan="2">@Html.DisplayNameFor(model => model.Inventories.FirstOrDefault().CurrencyDivision.Currency)</th>
					<th>@Html.DisplayNameFor(model => model.Inventories.FirstOrDefault().Year)</th>
					<th class="limited hidden-md-down">@Html.DisplayNameFor(model => model.Inventories.FirstOrDefault().SpecialIssue)</th>
					<th>@Html.DisplayNameFor(model => model.Inventories.FirstOrDefault().TypeId)</th>
					<th>@Html.DisplayShortNameFor(model => model.Inventories.FirstOrDefault().InventoryLots)</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (Inventory item in Model.Inventories)
				{
					<tr>

						<td> @Html.DisplayFor(m => item.CurrencyDivision.Currency.CountryDivision.Country.Name)</td>
						<td class="limited hidden-sm-down"> @Html.DisplayFor(m => item.Collection.Name)</td>

						@{
							if (!string.IsNullOrWhiteSpace(item.DenominationAlternate))
							{
								<td> @Html.DisplayFor(m => item.DenominationAlternate)</td>
							}
							else
							{
								<td> @Html.DisplayFor(m => item.Denomination)</td>
							}
						}
						<td> @Html.DisplayFor(m => item.CurrencyDivision.Currency.Name)</td>
						@{
							if (item.Denomination > 1)
							{
								<td> @Html.DisplayFor(m => item.CurrencyDivision.NamePlural)</td>
							}
							else
							{
								<td> @Html.DisplayFor(m => item.CurrencyDivision.NameSingular)</td>
							}
						}
						<td> @Html.DisplayFor(m => item.Year)</td>
						<td class="limited hidden-md-down"> @Html.DisplayFor(m => item.SpecialIssue)</td>
						<td> @Html.DisplayFor(m => item.TypeId)</td>
						<td> @Html.DisplayFor(m => item.InventoryLots.Count)</td>
						<td class="hidden-md-down">
							@Html.HtmlActionLink(Html.Icon(htmlAttributes: new { @class = "mdi mdi-pencil" }), "Details", routeValues: Model.RouteValues(new RouteValueDictionary(new { id = item.InventoryId, page = Model.Page })), htmlAttributes: new  { @class = "btn btn-sm btn-primary" })
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@if (Model.Inventories.PageCount > 1)
{
	<nav aria-label="Page navigation">
		Page @(Model.Inventories.PageCount < Model.Inventories.PageNumber ? 0 : Model.Inventories.PageNumber) of @Model.Inventories.PageCount

		@Html.PagedListPager(Model.Inventories, page => Url.Action("Index",
			  Model.RouteValues(new RouteValueDictionary(new { page, sortOrder = Model.InventorySort }))
			  ))
	</nav>
}

@section FooterScripts {
	@Scripts.Render("~/bundles/jqueryval-bundle")

	<script language="javascript" type="text/javascript">
		$('#searchForm').submit(function (event) {
			$('#searchForm').find(':input').each(function () {
				if (this.value == "")
					this.disabled = true;
			});
		});
	</script>
}