﻿@model BoutinFlegel.Areas.Catalog.Models.Collection

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Collection</h4>
	<hr />
	<dl class="dl-horizontal row">
		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Localization)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Localization)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.CollectionId }) |
	@Html.ActionLink("Back to List", "Index")
</p>
