﻿@model BoutinFlegel.Areas.Catalog.Models.Collection

@{
	ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Collection</h4>
		<hr />
		@Html.ValidationSummary(true, "", htmlAttributes: new { @class = "text-danger" })
		@Html.HiddenFor(model => model.CollectionId)

		<div class="form-group row">
			@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Name, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Localization, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Localization, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Localization, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-secondary" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section FooterScripts {
	@Scripts.Render("~/bundles/jqueryval-bundle")
}
