﻿@model IEnumerable<BoutinFlegel.Areas.Catalog.Models.Collection>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Localization)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Localization)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.CollectionId }) |
					@Html.ActionLink("Details", "Details", new { id = item.CollectionId }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.CollectionId })
				</td>
			</tr>
		}
	</tbody>
</table>
