﻿@model BoutinFlegel.Areas.Catalog.Models.CountryDivisionViewModel

@{
	ViewBag.Title = "Create Country Division";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>@Html.DisplayNameForModel()</h4>
		<hr />
		@Html.ValidationSummary(true, "", htmlAttributes: new { @class = "text-danger" })
		<div class="form-group row">
			@Html.LabelFor(model => model.CountryDivision.CountryId, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.DropDownListFor(model => model.CountryDivision.CountryId, Model.Countries, "Please Select", htmlAttributes: new { @class = "form-control select2-jquery-hook" })
				@Html.ValidationMessageFor(model => model.CountryDivision.CountryId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.CountryDivision.Name, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.CountryDivision.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CountryDivision.Name, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.CountryDivision.Localization, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.CountryDivision.Localization, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CountryDivision.Localization, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.CountryDivision.Confederation, "Confederation Date", htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.CountryDivision.Confederation, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CountryDivision.Confederation, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.CountryDivision.Disintegration, "Disintegration Date", htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.CountryDivision.Disintegration, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CountryDivision.Disintegration, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-secondary" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index", new { page = Model.Page })
</div>

@section FooterScripts {
	@Scripts.Render("~/bundles/jqueryval-bundle")

	<script language="javascript" type="text/javascript">
		//wait for the document to be fully rendered
		$(document).ready(function () {
			BoutinFlegel.LaunchSelect2();
		});
	</script>
}
