﻿@model BoutinFlegel.Areas.Catalog.Models.CountryDivisionViewModel

@{
	ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>@Html.DisplayNameForModel()</h4>
	<hr />
	<dl class="dl-horizontal row">
		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.CountryDivision.Name)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.CountryDivision.Name)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.CountryDivision.Localization)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.CountryDivision.Localization)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.CountryDivision.Confederation)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.CountryDivision.Confederation)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.CountryDivision.Disintegration)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.CountryDivision.Disintegration)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.CountryDivision.Country.CountryCode)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.CountryDivision.Country.CountryCode)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(model => model.Page)

		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-secondary" /> |
			@Html.ActionLink("Back to List", "Index", new { page = Model.Page })
		</div>
	}
</div>
