﻿@using BoutinFlegel.Areas.Catalog.Models;
@model CountryDivisionViewModel

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>@Html.DisplayNameForModel()</h4>
	<hr />
	<dl class="dl-horizontal row">
		<dt class="col-md-3">
			@Html.LabelFor(model => model.CountryDivision.CountryId)
		</dt>

		<dd class="col-md-6">
			@Html.ActionLink(Model.CountryDivision.Country.Name, "Details", "Countries", new { id = Model.CountryDivision.CountryId }, null)
		</dd>

		<dt class="col-md-3">
			@Html.LabelFor(model => model.CountryDivision.Name)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.CountryDivision.Name)
		</dd>

		<dt class="col-md-3">
			@Html.LabelFor(model => model.CountryDivision.Localization)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.CountryDivision.Localization)
		</dd>

		<dt class="col-md-3">
			@Html.LabelFor(model => model.CountryDivision.Confederation)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.CountryDivision.Confederation)
		</dd>

		<dt class="col-md-3">
			@Html.LabelFor(model => model.CountryDivision.Disintegration)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.CountryDivision.Disintegration)
		</dd>

		<dt class="col-md-3">
			@Html.LabelFor(model => model.CountryDivision.Country.CountryCode)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.CountryDivision.Country.CountryCode)
		</dd>

		<dt class="col-md-3">
			@Html.LabelFor(model => model.CountryDivision.Currencies)
		</dt>

		<dd class="col-md-6">
			<table>
				<tr>
					<th> @Html.ActionLink("Create New", "Create", "Currencies", new { parentId = Model.CountryDivision.CountryDivisionId, page = Model.Page }, null)</th>
				</tr>
				@foreach (Currency currency in Model.CountryDivision.Currencies.OrderBy(i => i.Name))
				{
					<tr>
						<td>@Html.ActionLink(currency.Name, "Details", "Currencies", new { id = currency.CurrencyId }, null) </td>
					</tr>
				}
			</table>
		</dd>
	</dl>
</div>
<p>
	@Html.ActionLink("Create New", "Create") |
	@Html.ActionLink("Edit", "Edit", new { id = Model.CountryDivision.CountryDivisionId, page = Model.Page }) |
	@Html.ActionLink("Back to List", "Index", new { page = Model.Page })
</p>
