﻿@using BoutinFlegel.Areas.Catalog.Models;
@using PagedList.Mvc;
@model CountryDivisionIndexViewModel

@{
	ViewBag.Title = "Country Divisions";
}

<h2>@ViewBag.Title</h2>

<p>
	@Html.ActionLink("Create New", "Create", routeValues: new { page = Model.Page }, htmlAttributes: new { @class = "btn btn-sm btn-success" })
</p>

<div class="table-responsive">

	<table class="table">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(model => model.CountryDivisions.FirstOrDefault().Country)</th>
				<th>@Html.DisplayNameFor(model => model.CountryDivisions.FirstOrDefault().Name)</th>
				<th>@Html.DisplayNameFor(model => model.CountryDivisions.FirstOrDefault().Localization)</th>
				<th>@Html.DisplayShortNameFor(model => model.CountryDivisions.FirstOrDefault().Confederation)</th>
				<th>@Html.DisplayShortNameFor(model => model.CountryDivisions.FirstOrDefault().Disintegration)</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.CountryDivisions)
			{
				<tr>
					<td> @Html.DisplayFor(modelItem => item.Country.Name)</td>
					<td class="limited"> @Html.DisplayFor(modelItem => item.Name)</td>
					<td class="limited"> @Html.DisplayFor(modelItem => item.Localization)</td>
					<td> @Html.DisplayFor(modelItem => item.Confederation)</td>
					<td> @Html.DisplayFor(modelItem => item.Disintegration)</td>
					<td>
						@Html.ActionLink("Edit", "Edit", new { id = item.CountryDivisionId, page = Model.Page }, htmlAttributes: new { @class = "btn btn-sm btn-primary" })
						@Html.ActionLink("Details", "Details", new { id = item.CountryDivisionId, page = Model.Page }, htmlAttributes: new { @class = "btn btn-sm btn-info" })
						@Html.ActionLink("Delete", "Delete", new { id = item.CountryDivisionId, page = Model.Page }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@if (Model.CountryDivisions.PageCount > 1)
{
	<p>
		Page @(Model.CountryDivisions.PageCount < Model.CountryDivisions.PageNumber ? 0 : Model.CountryDivisions.PageNumber) of @Model.CountryDivisions.PageCount

		@Html.PagedListPager(Model.CountryDivisions, page => Url.Action("Index",
				new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
	</p>
}
