﻿@model BoutinFlegel.Models.AddPhoneNumberViewModel
@{
	ViewBag.Title = "Phone Number";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	<h4>Add a phone number</h4>
	<hr />
	@Html.ValidationSummary("", htmlAttributes: new { @class = "text-danger" })
	<div class="form-group row">
		@Html.LabelFor(m => m.Number, htmlAttributes: new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Number, htmlAttributes: new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-secondary" value="Submit" />
		</div>
	</div>
}

@section FooterScripts {
	@Scripts.Render("~/bundles/jqueryval-bundle")
}
