﻿@model BoutinFlegel.Models.SetPasswordViewModel
@{
	ViewBag.Title = "Create Password";
}

<h2>@ViewBag.Title.</h2>
<p class="text-info">
	You do not have a local username/password for this site. Add a local
	account so you can log in without an external login.
</p>

@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()

	<h4>Create Local Login</h4>
	<hr />
	@Html.ValidationSummary("", htmlAttributes: new { @class = "text-danger" })
	<div class="form-group row">
		@Html.LabelFor(m => m.NewPassword, htmlAttributes: new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.PasswordFor(m => m.NewPassword, htmlAttributes: new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group row">
		@Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Set password" class="btn btn-secondary" />
		</div>
	</div>
}
@section FooterScripts {
	@Scripts.Render("~/bundles/jqueryval-bundle")
}