﻿@model BoutinFlegel.Models.VerifyPhoneNumberViewModel
@{
	ViewBag.Title = "Verify Phone Number";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("VerifyPhoneNumber", "Manage", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.Hidden("phoneNumber", @Model.PhoneNumber)
	<h4>Enter verification code</h4>
	<h5>@ViewBag.Status</h5>
	<hr />
	@Html.ValidationSummary("", htmlAttributes: new { @class = "text-danger" })
	<div class="form-group row">
		@Html.LabelFor(m => m.Code, htmlAttributes: new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Code, htmlAttributes: new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-secondary" value="Submit" />
		</div>
	</div>
}

@section FooterScripts {
	@Scripts.Render("~/bundles/jqueryval-bundle")
}
