﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>@ViewBag.Title - BoutinFlegel</title>
	@Styles.Render("~/bundles/styling-bundle")
	@Scripts.Render("~/bundles/bootstrap-bundle")
	@RenderSection("HeaderScripts", required: false)
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-dep-2">
		<div class="navbar-header">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			@Html.ActionLink("Boutin Flegel", "Index", "Home", routeValues: new { Area = string.Empty }, htmlAttributes: new { @class = "navbar-brand" })
		</div>
		<div class="collapse navbar-collapse" id="navbarMain">

			<ul class="navbar-nav mr-auto">
				@if (User.IsInRole(nameof(BoutinFlegel.Roles.CatalogAdmin)))
			{
					<li class="nav-item dropdown">
						<a href="#" id="navbarDropdownMenuLink" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Coin Manager</a>

						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							@*@(Html.ActionLink<BoutinFlegel.Areas.Catalog.Controllers.CountriesController>(s => s.something))*@
							@Html.ActionLink("Countries", "Index", "Countries", routeValues: new { Area = SiteAreas.Catalog.ToString() }, htmlAttributes: new { id = "Countries", @class = "dropdown-item" })
							@Html.ActionLink("Country Divisions", "Index", "CountryDivisions", routeValues: new { Area = SiteAreas.Catalog.ToString() }, htmlAttributes: new { id = "CountryDivisions", @class = "dropdown-item" })
							@Html.ActionLink("Currencies", "Index", "Currencies", routeValues: new { Area = SiteAreas.Catalog.ToString() }, htmlAttributes: new { id = "Currencies", @class = "dropdown-item" })
							@Html.ActionLink("Currency Divisions", "Index", "CurrencyDivisions", routeValues: new { Area = SiteAreas.Catalog.ToString() }, htmlAttributes: new { id = "CurrencyDivisions", @class = "dropdown-item" })
							@Html.ActionLink("Inventories", "Index", "Inventories", routeValues: new { Area = SiteAreas.Catalog.ToString() }, htmlAttributes: new { id = "Inventories", @class = "dropdown-item" })
						</div>
					</li>
			}
				<li class="nav-item">
					@Html.ActionLink("Blog", "Index", "Posts", routeValues: new { Area = SiteAreas.Blog.ToString() }, htmlAttributes: new { @class = "nav-link" })
				</li>
				<li class="nav-item">
					@Html.ActionLink("Contact", "Contact", "Home", routeValues: new { Area = string.Empty }, htmlAttributes: new { @class = "nav-link" })
				</li>
			</ul>
			@Html.Partial("_LoginPartial")
		</div>
	</nav>
	@RenderSection("JumbotronFluid", required: false)
	<div class="container">
		@RenderBody()
		<hr />
		<footer>
			<p>
				<small class="text-muted">&copy; @DateTime.Now.Year - BoutinFlegel</small>
			</p>
			<script type="text/javascript">
				$(document).ready(function () {
					BoutinFlegel.Initialize();
				});
			</script>
		</footer>
	</div>

	@RenderSection("FooterScripts", required: false)
</body>
</html>
