﻿@using Microsoft.AspNet.Identity
@using Microsoft.Owin.Security
@using BoutinFlegel.Models


@if (Request.IsAuthenticated)
{

	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, htmlAttributes: new { id = "logoutForm", @class = "form-inline" }))
	{
		@* nav divs must be kept separate due to bootstrap css interaction with forms*@
		<ul class="navbar-nav">
			@Html.AntiForgeryToken()
			<li class="nav-item">
				@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: new { Area = string.Empty }, htmlAttributes: new { title = "Manage", enabled = false, @class = "nav-link" })
			</li>
			<li class="nav-item">
				<a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log off</a>
			</li>
		</ul>
	}
}
else
{
	<ul class="navbar-nav">
		@Html.Action("ExternalLoginList", "Account", routeValues: new { Area = string.Empty, ReturnUrl = ViewBag.ReturnUrl })
	</ul>
}
