﻿@model BoutinFlegel.Areas.Blog.Models.FeaturedImageViewModel

@{
	ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>@Html.DisplayNameForModel()</h4>
		<hr />
		@Html.ValidationSummary(true, "", htmlAttributes: new { @class = "text-danger" })
		<div class="form-group row">
			@Html.LabelFor(model => model.FeaturedImage.ImageURL, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.FeaturedImage.ImageURL, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.FeaturedImage.ImageURL, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.FeaturedImage.ArtistName, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.FeaturedImage.ArtistName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.FeaturedImage.ArtistName, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.FeaturedImage.ArtistURL, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.FeaturedImage.ArtistURL, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.FeaturedImage.ArtistURL, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.FeaturedImage.Posted, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.FeaturedImage.Posted, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.FeaturedImage.Posted, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-secondary" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
