﻿@model BoutinFlegel.Areas.Blog.Models.FeaturedImageViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Html.DisplayNameForModel()</h4>
    <hr />
    <dl class="dl-horizontal row">
        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.FeaturedImage.ImageURL)
        </dt>

        <dd class="col-md-6">
            @Html.DisplayFor(model => model.FeaturedImage.ImageURL)
        </dd>

        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.FeaturedImage.ArtistName)
        </dt>

        <dd class="col-md-6">
            @Html.DisplayFor(model => model.FeaturedImage.ArtistName)
        </dd>

        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.FeaturedImage.ArtistURL)
        </dt>

        <dd class="col-md-6">
            @Html.DisplayFor(model => model.FeaturedImage.ArtistURL)
        </dd>

        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.FeaturedImage.Posted)
        </dt>

        <dd class="col-md-6">
            @Html.DisplayFor(model => model.FeaturedImage.Posted)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-secondary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
