﻿@model BoutinFlegel.Areas.Blog.Models.FeaturedImageViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayNameForModel()</h4>
    <hr />
    <dl class="dl-horizontal row">
        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.FeaturedImage.ImageURL)
        </dt>

        <dd class="col-md-6">
            @Html.DisplayFor(model => model.FeaturedImage.ImageURL)
        </dd>

        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.FeaturedImage.ArtistName)
        </dt>

        <dd class="col-md-6">
            @Html.DisplayFor(model => model.FeaturedImage.ArtistName)
        </dd>

        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.FeaturedImage.ArtistURL)
        </dt>

        <dd class="col-md-6">
            @Html.DisplayFor(model => model.FeaturedImage.ArtistURL)
        </dd>

        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.FeaturedImage.Posted)
        </dt>

        <dd class="col-md-6">
            @Html.DisplayFor(model => model.FeaturedImage.Posted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FeaturedImage.ImageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
