﻿@model BoutinFlegel.Areas.Blog.Models.FeaturedImageIndexViewModel

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FeaturedImages.FirstOrDefault().ImageURL)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FeaturedImages.FirstOrDefault().ArtistName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FeaturedImages.FirstOrDefault().ArtistURL)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FeaturedImages.FirstOrDefault().Posted)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.FeaturedImages)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ImageURL)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ArtistName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ArtistURL)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Posted)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.ImageId }) |
					@Html.ActionLink("Details", "Details", new { id = item.ImageId }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.ImageId })
				</td>
			</tr>
		}
	</tbody>
</table>
