﻿@model BoutinFlegel.Areas.Blog.Models.FeaturedImageViewModel

<div class="card shadow-dep-1">

	<div class="card-header card-header-dark bg-dark">
		<h4 class="card-title">Featured Artwork</h4>
	</div>
	<div class="card-img">
		<a href="@Model.FeaturedImage.ImageURL" target="_blank">
			<img class="img-fluid" src="@Model.FeaturedImage.ImageURL" alt="exterior highlight image" />
		</a>
	</div>
	<div class="card-footer">
		<a href="@Model.FeaturedImage.ArtistURL" target="_blank" class="btn btn-outline-secondary btn-sm">@Model.FeaturedImage.ArtistName</a>
	</div>
</div>
