﻿@model BoutinFlegel.Areas.Catalog.Models.InventoryLotViewModel

@{
	ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>@Html.DisplayNameForModel()</h4>
		<hr />
		<div class="form-group row">
			@Html.LabelFor(model => model.InventoryLot.Inventory.CurrencyDivision.Currency.CountryDivision.CountryId, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.DropDownListFor(model => model.InventoryLot.Inventory.CurrencyDivision.Currency.CountryDivision.CountryId, Model.Countries, "Please Select", htmlAttributes: new { @class = "form-control select2-jquery-hook" })
				@Html.ValidationMessageFor(model => model.InventoryLot.Inventory.CurrencyDivision.Currency.CountryDivision.CountryId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.InventoryLot.Inventory.CurrencyDivision.Currency.CountryDivisionId, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.DropDownListFor(model => model.InventoryLot.Inventory.CurrencyDivision.Currency.CountryDivisionId, Model.CountryDivisions, "Please Select", htmlAttributes: new { @class = "form-control select2-jquery-hook" })
				@Html.ValidationMessageFor(model => model.InventoryLot.Inventory.CurrencyDivision.Currency.CountryDivisionId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.InventoryLot.Inventory.CurrencyDivision.CurrencyId, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.DropDownListFor(model => model.InventoryLot.Inventory.CurrencyDivision.CurrencyId, Model.Currencies, "Please Select", htmlAttributes: new { @class = "form-control select2-jquery-hook" })
				@Html.ValidationMessageFor(model => model.InventoryLot.Inventory.CurrencyDivision.CurrencyId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.InventoryLot.Inventory.CurrencyDivisionId, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.DropDownListFor(model => model.InventoryLot.Inventory.CurrencyDivisionId, Model.CurrencyDivisions, "Please Select", htmlAttributes: new { @class = "form-control select2-jquery-hook" })
				@Html.ValidationMessageFor(model => model.InventoryLot.Inventory.CurrencyDivisionId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group row">
			@Html.LabelFor(model => model.InventoryLot.InventoryId, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.DropDownListFor(model => model.InventoryLot.InventoryId, Model.Inventories, "Please Select", htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.InventoryLot.InventoryId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.InventoryLot.Grade, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.InventoryLot.Grade, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.InventoryLot.Grade, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-secondary" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section FooterScripts {
	@Scripts.Render("~/bundles/jqueryval-bundle")

	<script language="javascript" type="text/javascript">
		//wait for the document to be fully rendered
		$(document).ready(function () {
			//connect the parent dropdowns to the auto refresh functions
			BoutinFlegel.AjaxSelectRefresh("#@Html.IdFor(model => model.InventoryLot.Inventory.CurrencyDivision.Currency.CountryDivision.CountryId)", "#@Html.IdFor(model => model.InventoryLot.Inventory.CurrencyDivision.Currency.CountryDivisionId)", "/CountryDivisions/Filter/");
			BoutinFlegel.AjaxSelectRefresh("#@Html.IdFor(model => model.InventoryLot.Inventory.CurrencyDivision.Currency.CountryDivisionId)", "#@Html.IdFor(model => model.InventoryLot.Inventory.CurrencyDivision.CurrencyId)", "/Currencies/Filter/");
			BoutinFlegel.AjaxSelectRefresh("#@Html.IdFor(model => model.InventoryLot.Inventory.CurrencyDivision.CurrencyId)", "#@Html.IdFor(model => model.InventoryLot.Inventory.CurrencyDivisionId)", "/CurrencyDivisions/Filter/");
			BoutinFlegel.AjaxSelectRefresh("#@Html.IdFor(model => model.InventoryLot.Inventory.CurrencyDivisionId)", "#@Html.IdFor(model => model.InventoryLot.InventoryId)", "/Inventories/Filter/");

			BoutinFlegel.LaunchSelect2();
		});
	</script>
}
