﻿@model BoutinFlegel.Areas.Catalog.Models.InventoryLotViewModel

@{
	ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>@Html.DisplayNameForModel()</h4>
	<hr />
	<dl class="dl-horizontal row">
		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.InventoryLot.Grade)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.InventoryLot.Grade)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.InventoryLot.Inventory.DenominationAlternate)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.InventoryLot.Inventory.DenominationAlternate)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-secondary" /> |
			@Html.ActionLink("Back to List", "Index")
		</div>
	}
</div>
