﻿@model BoutinFlegel.Areas.Catalog.Models.InventoryLotViewModel

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>@Html.DisplayNameForModel()</h4>
	<hr />
	<dl class="dl-horizontal row">
		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.InventoryLot.Inventory.CurrencyDivision.Currency.CountryDivision.CountryId)
		</dt>

		<dd class="col-md-6">
			@Html.ActionLink(Model.InventoryLot.Inventory.CurrencyDivision.Currency.CountryDivision.Country.Name, "Details", "Countries", new { id = Model.InventoryLot.Inventory.CurrencyDivision.Currency.CountryDivision.CountryId }, null)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.InventoryLot.Inventory.CurrencyDivision.Currency.CountryDivisionId)
		</dt>

		<dd class="col-md-6">
			@Html.ActionLink(Model.InventoryLot.Inventory.CurrencyDivision.Currency.CountryDivision.Name, "Details", "CountryDivisions", new { id = Model.InventoryLot.Inventory.CurrencyDivision.Currency.CountryDivisionId }, null)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.InventoryLot.Inventory.CurrencyDivision.CurrencyId)
		</dt>

		<dd class="col-md-6">
			@Html.ActionLink(Model.InventoryLot.Inventory.CurrencyDivision.Currency.Name, "Details", "Currencies", new { id = Model.InventoryLot.Inventory.CurrencyDivision.CurrencyId }, null)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.InventoryLot.Inventory.CurrencyDivisionId)
		</dt>

		<dd class="col-md-6">
			@Html.ActionLink(Model.InventoryLot.Inventory.CurrencyDivision.NameSingular, "Details", "CurrencyDivisions", new { id = Model.InventoryLot.Inventory.CurrencyDivisionId }, null)
		</dd>
	</dl>
	<dl class="dl-horizontal row">
		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.InventoryLot.Inventory)
		</dt>

		<dd class="col-md-6">
			@Html.ActionLink(string.Format("{0} - {1}", Model.InventoryLot.Inventory.Year, Model.InventoryLot.Inventory.Denomination), "Details", "Inventories", new { id = Model.InventoryLot.InventoryId }, null)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.InventoryLot.Grade)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.InventoryLot.Grade)
		</dd>
	</dl>
</div>
<p>
	@Html.ActionLink("Create New", "Create") |
	@Html.ActionLink("Edit", "Edit", new { id = Model.InventoryLot.InventoryLotId }) |
	@Html.ActionLink("Back to List", "Index")
</p>
