﻿@model BoutinFlegel.Areas.Catalog.Models.InventoryLotIndexViewModel

@{
	ViewBag.Title = "Lots";
}

<h2>@ViewBag.Title</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.InventoryLotId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Grade)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.InventoryLotId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Grade)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.InventoryLotId }) |
					@Html.ActionLink("Details", "Details", new { id = item.InventoryLotId }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.InventoryLotId })
				</td>
			</tr>
		}
	</tbody>
</table>
