﻿@model BoutinFlegel.Areas.Catalog.Models.CurrencyDivisionViewModel

@{
	ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>@Html.DisplayNameForModel()</h4>
		<hr />
		@Html.ValidationSummary(true, "", htmlAttributes: new { @class = "text-danger" })

		<div class="form-group row">
			@Html.LabelFor(model => model.CurrencyDivision.Currency.CountryDivision.CountryId, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.DropDownListFor(model => model.CurrencyDivision.Currency.CountryDivision.CountryId, Model.Countries, "Please Select", htmlAttributes: new { @class = "form-control select2-jquery-hook" })
				@Html.ValidationMessageFor(model => model.CurrencyDivision.Currency.CountryDivision.CountryId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.CurrencyDivision.Currency.CountryDivisionId, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.DropDownListFor(model => model.CurrencyDivision.Currency.CountryDivisionId, Model.CountryDivisions, "Please Select", htmlAttributes: new { @class = "form-control select2-jquery-hook" })
				@Html.ValidationMessageFor(model => model.CurrencyDivision.Currency.CountryDivisionId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.CurrencyDivision.CurrencyId, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.DropDownListFor(model => model.CurrencyDivision.CurrencyId, Model.Currencies, "Please Select", htmlAttributes: new { @class = "form-control select2-jquery-hook" })
				@Html.ValidationMessageFor(model => model.CurrencyDivision.CurrencyId, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.CurrencyDivision.NameSingular, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.CurrencyDivision.NameSingular, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CurrencyDivision.NameSingular, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.CurrencyDivision.NamePlural, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.CurrencyDivision.NamePlural, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CurrencyDivision.NamePlural, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.CurrencyDivision.LocalizationSingular, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.CurrencyDivision.LocalizationSingular, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CurrencyDivision.LocalizationSingular, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.CurrencyDivision.LocalizationPlural, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.CurrencyDivision.LocalizationPlural, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CurrencyDivision.LocalizationPlural, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.CurrencyDivision.Symbol, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.CurrencyDivision.Symbol, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CurrencyDivision.Symbol, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.CurrencyDivision.Division, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.CurrencyDivision.Division, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CurrencyDivision.Division, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-secondary" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index", new { page = Model.Page })
</div>

@section FooterScripts {
	@Scripts.Render("~/bundles/jqueryval-bundle")

	<script language="javascript" type="text/javascript">
		//wait for the document to be fully rendered
		$(document).ready(function () {
			//connect the parent dropdowns to the auto refresh functions
			BoutinFlegel.AjaxSelectRefresh("#@Html.IdFor(model => model.CurrencyDivision.Currency.CountryDivision.CountryId)", "#@Html.IdFor(model => model.CurrencyDivision.Currency.CountryDivisionId)", "/CountryDivisions/Filter/");
			BoutinFlegel.AjaxSelectRefresh("#@Html.IdFor(model => model.CurrencyDivision.Currency.CountryDivisionId)", "#@Html.IdFor(model => model.CurrencyDivision.CurrencyId)", "/Currencies/Filter/");

			BoutinFlegel.LaunchSelect2();
		});

	</script>
}
