﻿@using BoutinFlegel.Areas.Catalog.Models;
@model CurrencyDivisionViewModel

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>@Html.DisplayNameForModel()</h4>
	<hr />
	<dl class="dl-horizontal row">
		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.CurrencyDivision.Currency.CountryDivision.CountryId)
		</dt>

		<dd class="col-md-6">
			@Html.ActionLink(Model.CurrencyDivision.Currency.CountryDivision.Country.Name, "Details", "Countries", new { id = Model.CurrencyDivision.Currency.CountryDivision.CountryId }, null)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.CurrencyDivision.Currency.CountryDivisionId)
		</dt>

		<dd class="col-md-6">
			@Html.ActionLink(Model.CurrencyDivision.Currency.CountryDivision.Name, "Details", "CountryDivisions", new { id = Model.CurrencyDivision.Currency.CountryDivisionId }, null)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.CurrencyDivision.CurrencyId)
		</dt>

		<dd class="col-md-6">
			@Html.ActionLink(Model.CurrencyDivision.Currency.Name, "Details", "Currencies", new { id = Model.CurrencyDivision.CurrencyId }, null)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.CurrencyDivision.NameSingular)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.CurrencyDivision.NameSingular)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.CurrencyDivision.NamePlural)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.CurrencyDivision.NamePlural)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.CurrencyDivision.LocalizationSingular)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.CurrencyDivision.LocalizationSingular)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.CurrencyDivision.LocalizationPlural)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.CurrencyDivision.LocalizationPlural)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.CurrencyDivision.Symbol)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.CurrencyDivision.Symbol)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.CurrencyDivision.Division)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.CurrencyDivision.Division)
		</dd>

		<dt class="col-md-3">
			Inventories (@Model.CurrencyDivision.Inventories.Count)
		</dt>

		<dd class="col-md-6">
			<table>
				<tr>
					<th> @Html.ActionLink("Create New", "Create", "Inventories", new { parentId = Model.CurrencyDivision.CurrencyDivisionId, page = Model.Page }, null)</th>
				</tr>
				@foreach (Inventory inventry in Model.CurrencyDivision.Inventories.OrderBy(i => Guid.NewGuid()).Take(10))
			{
					<tr>
						<td>
							@Html.ActionLink((inventry.Year.ToString() + " - " + inventry.Denomination), "Details", "Inventories", new { id = inventry.InventoryId }, null)
						</td>
					</tr>

			}
			</table>
		</dd>
	</dl>
</div>
<p>
	@Html.ActionLink("Create New", "Create") |
	@Html.ActionLink("Edit", "Edit", new { id = Model.CurrencyDivision.CurrencyDivisionId, page = Model.Page }) |
	@Html.ActionLink("Back to List", "Index", new { page = Model.Page })
</p>
