﻿@using BoutinFlegel.Areas.Catalog.Models;
@using PagedList.Mvc;
@model CurrencyDivisionIndexViewModel

@{
	ViewBag.Title = "Currency Divisions";
}

<h2>@ViewBag.Title</h2>

<p>
	@Html.ActionLink("Create New", "Create", new { page = Model.Page })
</p>

<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th class="limited">@Html.DisplayNameFor(model => model.CurrencyDivisions.FirstOrDefault().Currency.Name)</th>
				<th>@Html.DisplayNameFor(model => model.CurrencyDivisions.FirstOrDefault().NameSingular)</th>
				<th>@Html.DisplayNameFor(model => model.CurrencyDivisions.FirstOrDefault().NamePlural)</th>
				<th colspan="2">@Html.DisplayShortNameFor(model => model.CurrencyDivisions.FirstOrDefault().LocalizationPlural)</th>
				<th>@Html.DisplayNameFor(model => model.CurrencyDivisions.FirstOrDefault().Symbol)</th>
				<th>@Html.DisplayNameFor(model => model.CurrencyDivisions.FirstOrDefault().Division)</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.CurrencyDivisions)
			{
				<tr>
					<td class="limited">
						@Html.DisplayFor(modelItem => item.Currency.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.NameSingular)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.NamePlural)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LocalizationSingular)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LocalizationPlural)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Symbol)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Division)
					</td>
					<td>
						@Html.ActionLink("Edit", "Edit", new { id = item.CurrencyDivisionId, page = Model.Page }, htmlAttributes: new { @class = "btn btn-sm btn-primary" })
						@Html.ActionLink("Details", "Details", new { id = item.CurrencyDivisionId, page = Model.Page }, htmlAttributes: new { @class = "btn btn-sm btn-info" })
						@Html.ActionLink("Delete", "Delete", new { id = item.CurrencyDivisionId, page = Model.Page }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@if (Model.CurrencyDivisions.PageCount > 1)
{
	<p>
		Page @(Model.CurrencyDivisions.PageCount < Model.CurrencyDivisions.PageNumber ? 0 : Model.CurrencyDivisions.PageNumber) of @Model.CurrencyDivisions.PageCount

		@Html.PagedListPager(Model.CurrencyDivisions, page => Url.Action("Index",
				new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
	</p>
}
