﻿@using BoutinFlegel.Areas.Catalog.Models;
@model CurrencyViewModel

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>@Html.DisplayNameForModel()</h4>
	<hr />
	<dl class="dl-horizontal row">
		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Currency.CountryDivision.CountryId)
		</dt>

		<dd class="col-md-6">
			@Html.ActionLink(Model.Currency.CountryDivision.Country.Name, "Details", "Countries", new { id = Model.Currency.CountryDivision.CountryId }, null)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Currency.CountryDivisionId)
		</dt>

		<dd class="col-md-6">
			@Html.ActionLink(Model.Currency.CountryDivision.Name, "Details", "CountryDivisions", new { id = Model.Currency.CountryDivisionId }, null)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Currency.Name)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Currency.Name)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Currency.Localization)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Currency.Localization)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Currency.Symbol)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Currency.Symbol)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Currency.Abbreviation)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Currency.Abbreviation)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Currency.Introduced)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Currency.Introduced)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Currency.Replaced)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Currency.Replaced)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Currency.CurrencyDivisions)
		</dt>

		<dd class="col-md-6">
			<table>
				<tr>
					<th> @Html.ActionLink("Create New", "Create", "CurrencyDivisions", new { parentId = Model.Currency.CurrencyId, page = Model.Page }, null)</th>
				</tr>
				@foreach (CurrencyDivision division in Model.Currency.CurrencyDivisions.OrderBy(i => i.Division))
			{
					<tr>
						<td>
							@Html.ActionLink(division.NameSingular, "Details", "CurrencyDivisions", new { id = division.CurrencyDivisionId }, null)
						</td>
					</tr>

			}
			</table>


		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Create New", "Create") |
	@Html.ActionLink("Edit", "Edit", new { id = Model.Currency.CurrencyId, page = Model.Page }) |
	@Html.ActionLink("Back to List", "Index", new { page = Model.Page })
</p>
