﻿@using BoutinFlegel.Areas.Catalog.Models;
@using PagedList.Mvc;
@model CurrencyIndexViewModel

@{
	ViewBag.Title = "Currencies";
}

<h2>@ViewBag.Title</h2>

<p>
	@Html.ActionLink("Create New", "Create", new { page = Model.Page }, htmlAttributes: new { @class = "btn btn-sm btn-success" })
</p>


<div class="table-responsive">

	<table class="table">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(model => model.Currencies.FirstOrDefault().CountryDivision)</th>
				<th>@Html.DisplayNameFor(model => model.Currencies.FirstOrDefault().CurrencyId)</th>
				<th>@Html.DisplayNameFor(model => model.Currencies.FirstOrDefault().Localization)</th>
				<th>@Html.DisplayShortNameFor(model => model.Currencies.FirstOrDefault().Introduced)</th>
				<th>@Html.DisplayShortNameFor(model => model.Currencies.FirstOrDefault().Replaced)</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Currencies)
			{
				<tr>
					<td class="limited"> @Html.DisplayFor(modelItem => item.CountryDivision.Name)</td>
					<td class="limited"> @Html.DisplayFor(modelItem => item.Name)</td>
					<td class="limited"> @Html.DisplayFor(modelItem => item.Localization)</td>
					<td> @Html.DisplayFor(modelItem => item.Introduced)</td>
					<td> @Html.DisplayFor(modelItem => item.Replaced)</td>
					<td>
						@Html.ActionLink("Edit", "Edit", new { id = item.CurrencyId, page = Model.Page }, htmlAttributes: new { @class = "btn btn-sm btn-primary" })
						@Html.ActionLink("Details", "Details", new { id = item.CurrencyId, page = Model.Page }, htmlAttributes: new { @class = "btn btn-sm btn-info" })
						@Html.ActionLink("Delete", "Delete", new { id = item.CurrencyId, page = Model.Page }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@if (Model.Currencies.PageCount > 1)
{
	<p>
		Page @(Model.Currencies.PageCount < Model.Currencies.PageNumber ? 0 : Model.Currencies.PageNumber) of @Model.Currencies.PageCount

		@Html.PagedListPager(Model.Currencies, page => Url.Action("Index",
				new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
	</p>
}
