﻿@model BoutinFlegel.Areas.Catalog.Models.CountryViewModel

@{
	ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>@Html.DisplayNameForModel()</h4>
		<hr />
		@Html.ValidationSummary(true, "", htmlAttributes: new { @class = "text-danger" })

		<div class="form-group row">
			@Html.LabelFor(model => model.Country.Name, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.Country.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Country.Name, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Country.Localization, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.Country.Localization, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Country.Localization, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-secondary" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index", new { page = Model.Page })
</div>

@section FooterScripts {
	@Scripts.Render("~/bundles/jqueryval-bundle")
}
