﻿@using BoutinFlegel.Areas.Catalog.Models;
@model CountryViewModel

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>@Html.DisplayNameForModel()</h4>
	<hr />
	<dl class="dl-horizontal row">
		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Country.Name)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Country.Name)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Country.Localization)
		</dt>

		<dd class="col-md-6">
			@Html.DisplayFor(model => model.Country.Localization)
		</dd>

		<dt class="col-md-3">
			@Html.DisplayNameFor(model => model.Country.CountryDivisions)
		</dt>

		<dd class="col-md-6">
			<table>
				<tr>
					<th> @Html.ActionLink("Create New", "Create", "CountryDivisions", new { parentId = Model.Country.CountryId, page = Model.Page }, null)</th>
				</tr>
				@foreach (CountryDivision division in Model.Country.CountryDivisions.OrderBy(i => i.Name))
				{
					<tr>
						<td>@Html.ActionLink(division.Name, "Details", "CountryDivisions", new { id = division.CountryDivisionId }, null) </td>
					</tr>
				}
			</table>
		</dd>
	</dl>
</div>
<p>
	@Html.ActionLink("Create New", "Create", new { page = Model.Page }) |
	@Html.ActionLink("Edit", "Edit", new { id = Model.Country.CountryId, page = Model.Page }) |
	@Html.ActionLink("Back to List", "Index", new { page = Model.Page })
</p>
