﻿@model BoutinFlegel.Areas.Catalog.Models.CountryViewModel

@{
	ViewBag.Title = Model.Country != null ? "Edit" : "Create";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>@Html.DisplayNameForModel()</h4>
		<hr />
		@Html.ValidationSummary(true, "", htmlAttributes: new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Country.CountryId)
		@Html.HiddenFor(model => Model.Page)

		<div class="form-group row">
			@Html.LabelFor(model => model.Country.Name, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.Country.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Country.Name, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.Country.Localization, htmlAttributes: new { @class = "col-md-2 col-form-label" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.Country.Localization, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Country.Localization, "", htmlAttributes: new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-2 text-right">
				<input type="submit" value="Save" class="btn btn-outline-success" />
			</div>
			<div class="col-md-offset-2 col-md-10">
				@Html.ActionLink("Back to List", "Index", new { page = Model.Page }, new { @class = "btn btn-outline-danger" })
			</div>
		</div>
	</div>
}

<div>
</div>

@section FooterScripts {
	@Scripts.Render("~/bundles/jqueryval-bundle")
}
