﻿@using BoutinFlegel.Areas.Catalog.Models;
@using PagedList.Mvc;
@model CountryIndexViewModel

@{
	ViewBag.Title = "Countries";
}

<h2>@ViewBag.Title</h2>

<p>
	@Html.ActionLink("Create New", "Create", routeValues: new { page = Model.Page }, htmlAttributes: new { @class = "btn btn-sm btn-success" })
</p>

<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Countries.FirstOrDefault().Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Countries.FirstOrDefault().Localization)
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Countries)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Localization)
					</td>
					<td>
						@Html.ActionLink("Edit", "Edit", routeValues: new { id = item.CountryId, page = Model.Page }, htmlAttributes: new { @class = "btn btn-sm btn-primary" })
						@Html.ActionLink("Details", "Details", routeValues: new { id = item.CountryId, page = Model.Page }, htmlAttributes: new { @class = "btn btn-sm btn-info" })
						@Html.ActionLink("Delete", "Delete", routeValues: new { id = item.CountryId, page = Model.Page }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@if (Model.Countries.PageCount > 1)
{
	<p>
		Page @(Model.Countries.PageCount < Model.Countries.PageNumber ? 0 : Model.Countries.PageNumber) of @Model.Countries.PageCount

		@Html.PagedListPager(Model.Countries, page => Url.Action("Index",
				new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
	</p>
}
